body {
  text-align: center;
  background-image: url("./assets/imgs/woodpanel.jpg");
  /* background-image: url("./assets/imgs/background.jpg"); */
  /* background-image: linear-gradient(#fee391, #993404, #662506); */
  background-size: 100%;
  width: auto;
}

.header {
  margin: 2% auto 0;
  font: 6em "Bowlby One SC";
  color: #fbffd4;
  /* text-decoration: underline; */
  text-shadow: -5px 6px #993404, -9px 10px #d46611, -12px 13px #cc4c02;
}

#form-field{
  width: 90%;
  height: 10em;
  background-color: #ffffd4;
  margin: 2% auto 0;
  opacity: 0.95;

  border-width: 9px;
  border-style: solid;
  border-color: #993404;
}

.user-inputs {
  margin-top: 20px;
}

#my-location-button {
  vertical-align: middle;
  margin: -5px;
  padding: 5px;
  border-radius: 50%;
}

#primary-input {
  vertical-align: middle;
}

#origin-points-icons > div {
  display: inline-block;
  border: 3px solid red;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  height: 5em;
  width: 5em;
  background-color: #d95f0e
}

#origin-points-icons > div > p {
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
}

#mapid {
  height: 400px;
  width: 90%;
  margin: 2% auto 0;

  border-width: 9px;
  border-style: solid;
  border-color: #993404;
  border-radius: 50%;
}
