body {
  text-align: center;
  background-image: url("./assets/imgs/woodpanel.jpg");
  /* background-image: url("./assets/imgs/background.jpg"); */
  /* background-image: linear-gradient(#fee391, #993404, #662506); */
  background-size: 100%;
  width: auto;
}

.header {
  margin: -18px auto 0;
  font: 6em "Bowlby One SC";
  color: #fbffd4;
  text-shadow: -5px 6px #993404, -9px 10px #d46611, -12px 13px #cc4c02;
}

#form-field{
  padding: 20px;
  width: 85%;
  height: 15em;
  background-color: #ffffd4;
  margin: 0px auto 0;
  opacity: 0.95;

  /* border-radius: 25px; */
  border-radius: 150px;
  border-width: 9px;
  border-style: solid;
  border-color: #993404;
}

#my-location-button {
  vertical-align: middle;
  margin: -5px;
  padding: 5px;
  border-radius: 50%;
}

#primary-input {
  vertical-align: middle;
  height: 20px;
  width: 250px;
  border-radius: 25px;
}

#origin-points-icons > div {
  /* font: x-small "Bowlby One SC"; */
  vertical-align: middle;
  position: relative;
  top: 10px;
  display: inline-block;
  border: 4px solid red;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  height: 4em;
  width: 4em;
  background-color: #d95f0e
  text-align: center;
}

/* #origin-points-icons > div > p {
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
} */

#category > button {
  /* position: relative; */
  /* font: small "Bowlby One SC"; */
  vertical-align: middle;
  margin-top: 5em;
  display: inline-block;
  border: 3px solid red;
  border-radius: 50%;
  margin-left: 20px;
  /* margin-top: 5px; */
  height: 7em;
  width: 7em;
  background-color: #d95f0e
}

#mapid {
  height: 400px;
  width: 90%;
  margin: 2% auto 0;

  border-width: 9px;
  border-style: solid;
  border-color: #993404;
  border-radius: 200px;
  /* border-radius: 50px; */
  /* border-radius: 50%; */
}
